<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Retrospective Recipes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output/master.css') }}">
    </head>
    <body>
        <main class="site-width">
		  {% block body %}{% endblock %}
        </main>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
    </body>
</html>
