
/*$palette-color-1: #4D4849;
$palette-color-2: #D05427;
$palette-color-3: #FFF5EB;
$palette-color-4: #E4CA5B;*/

$palette-color-1: #58442B;
$palette-color-2: #738035;
$palette-color-3: #EAE3AF;
$palette-color-4: #977953;

