html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

ul, li, figure {
    margin: 0;
    padding: 0;
}

